<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>in this node.js tutorial we'll look at view engines. View engines allow us to inject dynamic
        content & variables into html templates before sending them to the browser.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>